{% extends 'commission_calculator/base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<section class="mt-4">
    <div class="row ">
        <!-- Left Column (Form) -->
        <div class="col-lg-6 col-xl-6 mx-auto mb-4">
            <div class="card border-0 shadow rounded-3 overflow-hidden h-100">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5"><strong>Calculate Your Commission</strong></h5>
                    <!-- commission_calculator/templates/commission_calculator/form.html -->
                    <form method="post" action="{% url 'commission_calculator' %}" class="mt-4">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.persona|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.sales_group|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.target_profit|as_crispy_field }}
                        </div>
                        <div class="mb-3">
                            {{ form.gross_profit|as_crispy_field }}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Calculate</button>
                    </form>
    
                </div>
            </div>
        </div>
    
        <!-- Right Column (Result) -->
        <div class="col-lg-6 col-xl-6 mx-auto mb-4">
            <div id="commissionCard" class="card border-0 shadow rounded-3 overflow-hidden h-100">
                
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5"><strong>Your Elligible Commissions</strong></h5>
                    <!-- Display the result here with improved styling -->
                    {% if eligible_gross_profit is not None %}
                        <div class="result-container p-4 p-sm-5 text-center">
                            {% if eligible_gross_profit == 0 %}
                                <p class="lead result-message">You are not eligible for commissions at the moment.</p>
                            {% else %}
                                <h3 class="result-title mb-4">Your Calculated Commission</h3>
                                <p class="lead result-value">Total Amount = <strong>${{ eligible_gross_profit|floatformat:2 }}</strong></p>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>


      


{% endblock %}