<nav class="navbar navbar-expand-lg navbar-light py-4">
    <div class="container">
      <a class="navbar-brand" href="https://www.cellulant.io/">
        <img class="img-fluid" src="https://mcusercontent.com/6f9a74bd5d904175295cf3cc7/images/576a5bfe-ad19-fc2f-49c7-1975f280d009.png" alt="" width="96px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav02" aria-controls="nav02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav02">
        <ul class="navbar-nav mt-3 mt-lg-0 mb-3 mb-lg-0 ms-lg-3">
          <li class="nav-item me-4"><a class="nav-link" href="">Home</a></li>
          <li class="nav-item me-4"><a class="nav-link" href="{% url 'commission_calculator' %}">Commissions Calculator</a></li>
          <li class="nav-item me-4"><a class="nav-link" href="https://app.getguru.com/dashboard">Knowledge Base</a></li>
        </ul>
      </div>
    </div>
  </nav>